body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ddd;
    display: block;
    position: relative;
}
h1 {
    color: #252525;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px #555555;
}
h2 {
    color: #252525;
    text-align: center;
}
#container {
    /*margin: 0 auto;*/
}
#grid {
    width: 960px; /* To size and center the grid */
    min-width: 960px;
    margin: 0 auto; /* To Center the grid */
}
.row {
    display: inline-block;
}
.box {
    background-color: #f0e774;
    opacity: 0.99;
}
/*.hover {
    background-color: blue;
}*/
#Navigation {
    width: 614px;
    margin: 0 auto;
}
button {
    display: inline-block; /* To Center the Button */
    width: 150px;
    height: 35px;
    background-color: #c0c5ef;
    color: #252525;
    border: 1px solid #555555;
    margin: 10px auto; /* To Center the Button */
}
button:hover {
    background-color: #555555;
    color: white;
}
footer {
    margin: 25px auto;
    text-align: center;
}
footer > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
footer > a:hover {
    color: #bd113a;
}
