html, body {
    font: small arial,sans-serif;
    margin: 0;
    padding: 0;
}
#nav-bar {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 15px;
}
a {
    color: #000;
    text-decoration: none;
}
.a1:focus, .a1:hover {
    opacity: .85;
    text-decoration: underline;
}
ul, .menu {
    height: 18px;
    vertical-align: middle;
}
.menu {
    display: inline-block;
    position: relative;
    text-decoration: none;
    width: 50px;
}
.blue-button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    width: 110px;
}
.column {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 2px;
}
.a-menu{
    height: 18px;
    left: 8px;
    position: relative;
    width: 18px;
}
.menu-button {
    background-color: #000;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    opacity: .55;
    position: relative;
}
.menu-button:hover {
    opacity: .85;
}
.sgb {
    background-color: #000;
    border: 1px solid #ffffff;
    display:inline-block;
    height: 4px;
    width: 4px;
}
.a-blue-button {
    background-color: #4285f4;
    border-radius: 3px;
    color: white;
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 1px;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 160px;
    width: 280px;
}
.img-g {
    left: 50%;
    width: 100%;
}
.g-blue {
    color: #4285f4;
    font-size: larger;
    left: 213px;
    position: relative;
    text-align: center;
    top: -35px;
    width: 90px;
}
#search {
    border-style: solid;
    border-width: thin;
    color: #bbb;
    font-size: 16px;
    height: 35px;
    left: 25%;
    min-width: 140px;
    position: relative;
    text-overflow: ellipsis;
    top: 140px;
    width: 50%;
}
.sb, input {
    background: transparent;
    border: none;
    cursor: auto;
    height: 35px;
    position:absolute;
    user-select: text;
    width: 100%;
}
.search-box {
    line-height: 35px;
    vertical-align: middle;
}
.sb:hover, input:hover {
    border: 1px solid #bbb;
}
.voice {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 25px;
}
input {
    font: 18px arial,sans-serif;
}
#buttons {
    display: inline-block;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 65px;
    width: auto;
}
.btn-search, .btn-lucky {
    background-color: #edeff1;
    border-radius: 3px;
    border: 1px solid #edeff1;
    color: #000;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    margin: 2px;
    opacity: 0.55;
    padding: 7px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
}
.btn-search:hover, .btn-lucky:hover {
    border: 1px solid #bbb;
    opacity: 0.85;
}
